$sidebarBackgroundColor: #fff;
$sidebarColor: rgba(0,0,0,0.7);
$iconWidth: 24px;


.sidebar {
	height: 100%;
	background-color: $sidebarBackgroundColor;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
	color: $sidebarColor;
	width: 288px;
	md-content {
		overflow: hidden;
		height: 100%;
		width: inherit;
		background-color: $sidebarBackgroundColor;
		color: inherit;
		.sidebar-title {
			height: 60px;
    		overflow: hidden;
			img {
				cursor: pointer;
				padding: 22px;
			}
		}
		.sidebar-user {
			padding: 10px 25px;
			cursor: pointer;
			height: 65px;
    		overflow: hidden;
			.sidebar-user-img {
				border-radius: 50%;
    			width: 45px;
    			height: 45px;
			}
			.sidebar-user-content {
				    padding-left: 10px;
    				width: 100%;
    				align-items: center;
				.sidebar-user-content-text {
					.sidebar-user-content-text-name {
						font-size: 13px;
					}
					.sidebar-user-content-text-role {
						font-size: 12px;
					}
				}
				.sidebar-user-content-dropdown_icon {
					margin-left: auto;
				}
			}
			.user_dropdown_box {
				position: absolute;
			    transform: translateX(-50%);
			    left: 50%;
			    box-shadow: 0 2px 15px rgba(0,0,0,.1);
			    top: 125px;
			    width: 250px;
			    background-color: #f7f0f0;
			    border-radius: 2px;
			    border: 1px solid #dddddd;
			    color: rgba(0, 0, 0, 0.7);
			    display: none;
				.user_dropdown {
					list-style: none;
					padding: 5px 0;
					margin: 0;
					max-height: 230px;
					overflow: auto;
					li {
						font-size: 13px;
						padding: 4px 20px;
						cursor: pointer;
						span {
						    display: inline-block;
						    border-radius: 2px;
						    background-color: #d26d54;
						    color: #fff;
						    text-align: center;
						    font-size: 10px;
						    width: 17px;
						    height: 15px;
						    float: right;
						    line-height: 15px;
						}
					}
					li:hover {
						background-color: #e2e2e2;
					}
					.user_dropdown-divider {
						clear: both;
						    height: 1px;
						    padding: 0;
						    background-color: #e5e5e5;
						    margin: 5px 0;
					}
				}
			}
		}	
		.sidebar-menu {
			padding: 0;
			// 100% - .sidebar-title - .sidebar-user
			height: calc(100% - (60px + 65px));
		    width: inherit;
		    box-sizing: content-box;
		    overflow: auto;
		    padding-right: 30px;
		    .sidebar-menu-title {
				font-size: 11px;
	    		padding: 10px 25px;
			}
			.sidebar-menu-item {
				width: inherit;
				cursor:pointer;
				.sidebar-menu-item_wrapper {
					width: 100%;
					align-items: center;
					padding: 7px 25px;
					outline: 0;
					.sidebar-menu-item-icon {

					}
					.sidebar-menu-item-name {
						padding-left: 15px;
	    				font-size: 13px;
					}
					.sidebar-menu-item-dropdown_icon {
						transition: transform .2s cubic-bezier(.7,0,.3,1);
						margin-left: auto;
					}
					.sidebar-menu-item-dropdown_icon.open {
						transform: rotate(-180deg);
					}
				}
				.sidebar-menu-item_wrapper:hover
				 {
					background-color: #f7f7f7 !important;
					color: #000;
				}
				
				.sidebar-menu-item-dropdown {
					overflow: hidden;
					padding: 0;
					width: 100%;
					max-height: 0;
					box-shadow: 4px 0px 0px 0px rgba(76,127,240,1) inset;
					transition: max-height .5s cubic-bezier(.35,0,.25,1);
					.sidebar-menu-item-dropdown-item {
						padding: 9px 25px;
						padding-left: 25px + $iconWidth + 15px;
						font-size: 13px;
						cursor: pointer;
					}
					.sidebar-menu-item-dropdown-item:hover {
						color: #000;
					}
				}
				.sidebar-menu-item-dropdown.open {
					max-height: 1000px;
					background-color: rgba(0,0,0,.05);
				}
			}
			.sidebar-menu-item.active {
				background-color: #f7f7f7 !important;
				color: #000;
			}
			.sidebar-menu-item.open {
				.sidebar-menu-item_wrapper {
					color: #000;
					background-color: rgba(0,0,0,.05);
					box-shadow: 4px 0px 0px 0px rgba(76,127,240,1) inset;
				}
			}
		}
	}
}