<!-- <md-button class="md-raised md-primary" aria-label="Klik" ng-click="sidebarCtrl.toggleMenu()">Toggle</md-button> -->
<md-sidenav class="sidebar" md-is-locked-open="true" layout="column" md-component-id="sidebar-left">
	
	<md-content>
		<div class="sidebar-title">
			<img ui-sref="home" src="http://milestone.nyasha.me/latest/angular/images/logo.png" alt="logo">
		</div>
		<div class="sidebar-user" layout="row" ng-click="sidebarCtrl.userDropdownOpen()">
			<img src="http://milestone.nyasha.me/latest/angular/images/avatar.jpg" class="sidebar-user-img">
			<div class="sidebar-user-content" layout="row">
				<div class="sidebar-user-content-text">
					<div class="sidebar-user-content-text-name">Betty Simmons</div>
					<div class="sidebar-user-content-text-role">{{sidebarCtrl.role}}</div>
				</div>
				<i class="sidebar-user-content-dropdown_icon material-icons">arrow_drop_down</i>
			</div>
			<div class="user_dropdown_box" ng-blur="sidebarCtrl.userDropdownClose()">
				<ul class="user_dropdown">
					<li>Settings</li>
					<li>Upgrade</li>
					<li>Notificatons<span>34</span></li>
					<li class="user_dropdown-divider"></li>
					<li>Help</li>
					<li ng-click="sidebarCtrl.logout()">Logout</li>
				</ul>
			</div>
		</div>
		<ul class="sidebar-menu">
			<div class="sidebar-menu-title">NAVIGATION</div>
			<li class="sidebar-menu-item" ui-sref="home" ui-sref-active="active">
				<div class="sidebar-menu-item_wrapper" layout="row">
					<i class="sidebar-menu-item-icon material-icons text-primary">home</i>
					<div class="sidebar-menu-item-name">Home</div>
				</div>
			</li>
			<li class="sidebar-menu-item" layout="column">
				<div class="sidebar-menu-item_wrapper" layout="row" ng-click="sidebarCtrl.dropdownToggle($event)">
					<i class="sidebar-menu-item-icon material-icons text-success">font_download</i>
					<div class="sidebar-menu-item-name">Apps</div>
					<i class="sidebar-menu-item-dropdown_icon material-icons">arrow_drop_down</i>
				</div>
				<ul class="sidebar-menu-item-dropdown">
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Calendar</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Media</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Messages</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Social</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">People</li>
				</ul>
			</li>
			<li class="sidebar-menu-item" layout="column">
				<div class="sidebar-menu-item_wrapper" layout="row" ng-click="sidebarCtrl.dropdownToggle($event)">
					<i class="sidebar-menu-item-icon material-icons text-danger">explore</i>
					<div class="sidebar-menu-item-name">Components</div>
					<i class="sidebar-menu-item-dropdown_icon material-icons">arrow_drop_down</i>
				</div>
				<ul class="sidebar-menu-item-dropdown">
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Cards</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Forms</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Tables</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Buttons</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Social buttons</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">General</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Navs</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Progress Bars</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Pagination</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Sliders</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Notifications</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Spinners</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Alerts</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Palette</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Material icons</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Fontawesome</li>
				</ul>
			</li>
			<li class="sidebar-menu-item" layout="column">
				<div class="sidebar-menu-item_wrapper" layout="row" ng-click="sidebarCtrl.dropdownToggle($event)">
					<i class="sidebar-menu-item-icon material-icons text-warning">assessment</i>
					<div class="sidebar-menu-item-name">Charts</div>
					<i class="sidebar-menu-item-dropdown_icon material-icons">arrow_drop_down</i>
				</div>
				<ul class="sidebar-menu-item-dropdown">
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Flot</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">EasyPie</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">ChartJs</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">Rickshaw</li>
					<li class="sidebar-menu-item-dropdown-item" ui-sref="home">C3js</li>
				</ul>
			</li>
		</ul>
		<!-- <md-list>
			<md-list-item class="md-2-line" ng-click="sidebarCtrl.changeState('home'); sidebarCtrl.toggleMenu()">
				<md-list-item-text>
					<span class="list-icon glyphicon glyphicon-home"></span><span>Home</span>
				</md-list-item-text>
			</md-list-item>
			<md-list-item class="md-2-line" ng-click="sidebarCtrl.dropdownToggle($event)" >
				<md-list-item-text>
					<span class="list-icon glyphicon glyphicon-list"></span><span>Entities</span>
				</md-list-item-text><span class="dropdown-icon glyphicon glyphicon-triangle-bottom"></span>	
			</md-list-item> -->
			<!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
			<!-- <ul class="dropdown-list">
				<md-list-item class="md-1-line" ng-click="sidebarCtrl.changeState('sklep'); sidebarCtrl.toggleMenu(false)">
					<md-list-item-text>Sklep</md-list-item-text>
				</md-list-item>
				<md-list-item class="md-1-line" ng-click="sidebarCtrl.changeState('to-do'); sidebarCtrl.toggleMenu(false)">
					<md-list-item-text>ToDo</md-list-item-text>
				</md-list-item> -->
				<!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
			<!-- </ul>
			<md-list-item class="md-2-line" ng-click="sidebarCtrl.logout()">
				<md-list-item-text>
					<span class="list-icon glyphicon glyphicon-log-out"></span><span>Wyloguj się</span>
				</md-list-item-text>
			</md-list-item>

			
		</md-list> -->
	</md-content>
</md-sidenav>