$backgroundColor: rgb(63, 81, 181);
$color: rgb(225, 227, 243);

.login-content {
	background-color: $backgroundColor;
	color: rgb(225, 227, 243);
	position: absolute;
    width: 100%;
    height: 100%;
}